target/
.cargo/*
crates/sdk-py/.cargo
crates/sdk/.cargo
crates/core/.cargo
crates/sdk-wasm/.cargo
crates/sdk-wasm/pkg
!.cargo/config.toml

.idea/*
.tests
.uv-cache/
.bin-cache/
.cln-cache/

.env
.env.*
!.env.regtest
dev.db
.ci.db
identifier.sqlite
__pycache__/
.sqlx/

.DS_Store
.export/
.mirror/
